@font-face {
    font-family: 'Bahnschrift Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Bahnschrift Regular'), url('BAHNSCHRIFT 1.woff') format('woff');
    }

body{
    padding: 0;
    margin: 0;
    background-image: url(./src/cover.jpg);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Bahnschrift Regular';
}
h1{
    color: aliceblue;
    font-family: 'Bahnschrift Regular';
}